# Ignore source files
src/
tsconfig.json

# Ignore node_modules (will be installed)
node_modules/

# Ignore development files
*.map
.vscode/

# Ignore git files
.git/
.gitignore

# Ignore other
*.vsix
README.md
package-lock.json
